.banner {
  position: relative;
  display: flex;
}
/* Imagen que ocupa todo el espacio sin deformarse */


.full-screen-img {
  width: 100vw; /* 100% del ancho de la pantalla */
  object-fit: cover; /* Ajusta la imagen sin distorsionarla */
}

/* Contenido centrado sobre la imagen */
.banner-content {
  position: absolute;
  top: 40%;
  left: 45%; /* Cambié a 50% para centrar en el eje horizontal */
  transform: translateX(-50%); /* Para asegurar que el contenido esté centrado */
  text-align: center;
  width: 80%; /* Aseguramos que el contenido no ocupe todo el ancho en pantallas grandes */
}

/* Ajuste para pantallas medianas (Tablets) */
@media (max-width: 768px) {
  .banner-content {
    top: 60%; 
    width: 90%; 
  }

  .banner h1 {
    font-size: 2.5rem; 
  }

  .banner h2 {
    font-size: 1.5rem; 
  }
}

/* Ajuste para pantallas pequeñas (Móviles) */
@media (max-width: 576px) {
  .banner-content {
    top: 50%; 
    width: 90%; 
  }

  .banner h1 {
    font-size: 1.8rem; 
  }

  .banner h2 {
    font-size: 1.2rem; 
  }
}
