@media only screen and (min-width: 768px) {
  .cardcustom {
    width: 90vw;
    max-width: 1400px;
  }
}

@media only screen and (max-width: 767px) {
    .cardcustom {
      width: 100% !important;
    }

    .timeline {
      max-width: 100% !important;
    }
  }